<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src='../assets/bit.png'> 
</div>

<div>
  <label>Digite o CEP:</label>
  <br>
  <input type = "text" [(ngModel)]="cep"/>
  <button (click)="get_products()">Buscar</button>
</div>
<br>

<div>
  <label>Endereço:</label>
  <br>
  <input type="text" [ngModel]="endereco.logradouro">
  
</div>
<div>
  <br>
  <label>Complemento:</label>
  <br>
  <input type="text" class="texto" [ngModel]="endereco.complemento">
</div>
<div>
  <br>
  <label>Bairro:</label>
  <br>
  <input type="text" [ngModel]="endereco.bairro">
</div>
<div>
  <br>
  <label>Localidade:</label>
  <br>
  <input type="text" [ngModel]="endereco.localidade">
</div>
<div>
  <br>
  <label>UF:</label>
  <br>
  <input type="text" [ngModel]="endereco.uf">
</div> 
  


<router-outlet></router-outlet>
